
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/Estilos.css">
</head>

<%- include('../partials/header') %>

<body>

    <h1>Carrito de compras</h1>

    <% if (carrito.length === 0) { %>

        <p>El carrito está vacío</p>

    <% } else { %>

        <% let total = 0; %>

        <% carrito.forEach(producto => { %>

            <div>
                
                <img src="<%= producto.imagen %>" width="150">

                <h3><%= producto.nombre %></h3>

                <p>Precio: $<%= producto.precio %></p>

                <p>Cantidad: <%= producto.cantidad %></p>

                <!-- Botón sumar -->
                <form action="/carrito/sumar" method="POST">
                    <input type="hidden" name="id" value="<%= producto.id %>">
                    <button type="submit">+</button>
                </form>


                <!-- Botón restar -->
                <form action="/carrito/restar" method="POST">
                    <input type="hidden" name="id" value="<%= producto.id %>">
                    <button type="submit">-</button>
                </form>

                <!-- Botón eliminar -->
                <form action="/carrito/eliminar" method="POST">
                    <input type="hidden" name="id" value="<%= producto.id %>">
                    <button type="submit">Eliminar</button>
                </form>

            </div>

            <% total += producto.precio * producto.cantidad; %>

        <% }) %>

        <hr>

        <h2>Total: $<%= total %></h2>

    <% } %>    


    
    <a href="/checkout">continuar con el pago</a>

</body>
</html>
